h1 {
color:#5e63b6;

}
h2{
    font-size: 32px;
    text-align: left;
    margin-bottom: 0;
}
h3{
    font-size: 42px;
    text-align: center;
    height: 50px;
    line-height: 100px;
}
h4 {
    padding-top: 10px;
    font-size: 14px;
    text-align: left;
    line-height: 9;
    margin-left: 0;
}
ul{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}

.weather {
    margin-top: 25px;
    margin-bottom: 25px;
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    display: block;
    max-width: 800px;
    border: 1px solid #27296d;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(65,50,100,.08);
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.weather-image {
    height: 100px;
    line-height: 100px;
    text-align: right;
    max-width: 150px;
    margin-left: 40px;
}

.WeatherForecast {
    padding: 20px 5px 30px 10px;
}

.weather-temperature .active {
    color: black;
    cursor: default;
    text-decoration: none;

}
.weather-temperature .activ:hover {
    text-decoration: none;
}

#temperature-display {
        padding-top: 10px;
        float: left;
        font-size: 46px;
        text-align: left;
        line-height: 3.1;
}

#description {
        font-size: 14px;
        text-align: right;
        line-height: 2;
}

#fahrenheit-link {
    text-decoration: none;
}