body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
color: #698474;
font-family: 'Sometype Mono', monospace;
text-align: center;
font-weight: bold;
transition-duration: 0.4s;
}

h1:hover{
background-color: white;
}
h2{
    font-size: 28px;
    text-align: left;
    margin-bottom: 0;
}
h3{
    font-size: 42px;
    text-align: center;
    height: 50px;
    line-height: 100px;
}
h4 {
    padding-top: 10px;
    font-size: 14px;
    text-align: left;
    line-height: 9;
    margin-left: 0;
}
ul{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}

.weather-app-wrapper {
        flex: 1;
    
}
.weather-app-wrapper::after {
    content: "";
    display: table;
    clear: both;
}

.weather {
    margin-top: 25px;
    margin-bottom: 25px;
    background: linear-gradient(89.9deg, rgba(178, 253, 238, 0.96) -8.1%, rgb(207, 244, 254) 26.3%, rgba(207, 244, 254, 0.48) 47.5%, rgba(254, 219, 243, 0.63) 61.5%, rgb(254, 219, 243) 78.7%, rgb(254, 207, 210) 109.2%);
    /* display: block; */
    max-width: 800px;
    border: 1px solid #27296d;
    border-radius: 16px;
    box-shadow: 0 30px 50px rgba(65,50,100,.08);
    padding: 25px 40px 10px 40px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.WeatherForecast {
    padding: 20px 5px 30px 10px;
}
/* #search-form {
    padding: 12px 16px;
    width: 175px;
    font-size: 18px;

} */

#search-text-input {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    padding: 12px 16px;
}
#weather-details {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10px;
    padding: 10px;
    height: 230px;
}
#date-time {
    transition-duration: 0.4s;
}
#date-time:hover{
    background-color: white;
    color:#698474;
    border-radius: 4px;
}
#temperature-display {
        padding-top: 10px;
        float: left;
        font-family: 'Quicksand', sans-serif;
        font-size: 46px;
        text-align: left;
        line-height: 3.1;
}
#unit {
    position: relative;
    font-weight: lighter;
    font-size: 48px;
    top: -145px;

}
#weather-image{
    height: 20px !important;
    text-align: right;
}

#description {
        font-size: 14px;
        text-align: left;
        height: 20%;
}

#footer{
    font-size: 14px;
    margin-top:20px;
}

#search-button {
    cursor: pointer;
    border: 1.5px solid white;
    background: #d7acd4;
    padding: 12px 16px;
    width: 175px;
    font-size: 18px;
    color: white;
    transition-duration: 0.4s;

}
#search-button:hover {
    background-color: #eec2c2;
    color: white;
}

#current-location {
    cursor: pointer;
    border: 1.5px solid #ec7263;
    background: transparent;
    padding: 12px 16px;
    width: 175px;
    font-size: 18px;
    color: #ec7263;
    transition-duration: 0.4s;
}

#current-location:hover {
    background-color: #febe7e;
    color: #a75265;

}